################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dota2Stats/Dota2Stats/Dota2Stats.Droid/Resources/drawable/icon_nightstalkerbig.png
